# Docker / MySQL
MYSQL_PORT=3306
MYSQL_DATABASE=reserva_plus
MYSQL_USER=reserva
MYSQL_PASSWORD=reserva123
MYSQL_ROOT_PASSWORD=root

# Backend / Spring Boot
DB_URL=jdbc:mysql://localhost:3306/reserva_plus?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
DB_USER=reserva
DB_PASSWORD=reserva123
SERVER_PORT=8080
JWT_SECRET=troque-esta-chave-por-uma-chave-longa
JWT_EXPIRATION_MS=86400000
APP_ADMIN_NAME=Administrador
APP_ADMIN_EMAIL=admin@reserva.local
APP_ADMIN_PASSWORD=admin123
